{{ partial "header" . }}

<main>
    <h2>{{ .Title }}</h2>

    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}
    <!-- <script>
        var titulo = document.getElementById("tituloSessao");
        if (titulo.innerHTML == "Projects") {
            document.title = "Projetos";
            titulo.innerHTML = "Projetos";
        }
        
    </script> -->
</main>
<script>
    if(window.location.href.indexOf("projetos") > -1) {
       var items = document.getElementsByClassName("item");
       //var q = document.getElementById("").style.marginbo
       for(i=0; i<items.length; i++) {
            items[i].style.marginBottom =  "15px";
            items[i].style.marginTop =  "15px";
        }
        var hrs = document.getElementsByClassName("hrBom");

        hrs[hrs.length-1].parentNode.removeChild(hrs[hrs.length-1]);
    }
</script>
{{ partial "paginator" . }}

{{ partial "footer" . }}
