{{ partial "header" . }}
<style>
    .intro {
        transform: translateY(16vh);
    }
    .intro > a > h3 {
        color:  white;
        font-size: 10px;
        display: inline-block;
        border-radius: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 12px;
        padding-left: 12px;
        background-color: #4a8a8a;
        transition: all 0.3s;
    }

    @media (min-width: 1281px) {
        .intro > h1 {
            /* color: #212121; */
            color: #1b4e6f;
            font-size: 106px;
        }
        .intro > h2 {
            color: /* #757575 */#367171;
            font-size: 30px;
        }
        .intro > a > h3 {
            font-size: 19px;
        }
        .intro {
            transform: translateY(22vh);
        }
    }

    @media (min-width: 768px) and (max-width: 1280px) {
    
        .intro > h1 {
            /* color: #212121; */
            color: #1b4e6f;
            font-size: 80px;
        }
        .intro > h2 {
            color: /* #757575 */#367171;
            font-size: 24px;
        }
        .intro > a > h3 {
            font-size: 16px;
        }
        .intro {
            transform: translateY(22vh);
        }
    }

    @media (min-width: 481px) and (max-width: 767px) {
    
        .intro > h1 {
            /* color: #212121; */
            color: #1b4e6f;
            font-size: 60px;
        }
        .intro > h2 {
            color: /* #757575 */#367171;
            font-size: 22px;
        }
        .intro > a > h3 {
            font-size: 14px;
        }
        .intro {
            transform: translateY(22vh);
        }
    }

    @media (min-width: 320px) and (max-width: 480px) {
    
        .intro > h1 {
            color: #1b4e6f;
            font-size: 50px;
        }
        .intro > h2 {
            color: /* #757575 */#367171;
            font-size: 18px;
        }
        .intro > a > h3 {
            font-size: 12px;
        }
    }

    #particles-js {
        height: 100%;
        width: 100%;
        position: fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:-2; 
    }
    #titulo {
        white-space: nowrap;
    }
    

    /* .intro > a > h3 {
        color: #367171 ;
        font-size: 2vmin;
        display: inline-block;
       
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 12px;
        padding-left: 12px;
        transition: all 0.5s;
        background-color: #ecd999;

    } */


    .intro > a > h3:hover {
        color: #367171;
        background-color: #ecd999;
        transform: scale(1.1);
    }
</style>
<main>

    <div class="intro" id="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1 id="titulo">{{ .Site.Title }}</h1>

        <h2 id="h2desc">{{ markdownify .Site.Params.Description }}</h2>
        <a  href="/contato"><h3 id="h3desc">Entre em contato</h3></a>
    </div>
    <div id="particles-js"></div>

</main>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    
    /* if (window.outerHeight > window.innerWidth) {
        particlesJS.load('particles-js', './particlesjs-config-mobile.json', function() {
        });
    }
    else {
        particlesJS.load('particles-js', './particlesjs-config.json', function() {
        });
    } */

    particlesJS.load('particles-js', './particlesjs-config.json', function() {
        });

  /* var h2desc = document.getElementById("h2desc")
  var style2 = window.getComputedStyle(h2desc, null).getPropertyValue('font-size');
  var h2fontSize = parseFloat(style2); 
  if (h2fontSize < 16) {
      h2desc.style.fontSize = 16+'px';
  }


  var h3desc = document.getElementById("h3desc")
  var style3 = window.getComputedStyle(h3desc, null).getPropertyValue('font-size');
  var h3fontSize = parseFloat(style3); 
  if (h3fontSize < 16) {
      h3desc.style.fontSize = 14+'px';
  }


    var contadorBreak=0;
  while (titulo.clientWidth > window.innerWidth-50 && contadorBreak < 10) {
    var style = window.getComputedStyle(titulo, null).getPropertyValue('font-size');
    var fontSize = parseFloat(style); 
    titulo.style.fontSize = (fontSize - 10) + 'px';
    contadorBreak++;
  }

  if (window.outerWidth < window.outerHeight) {
    var intro = document.getElementById("intro")
    intro.style.transform = "translateY(16vh)"
  }
 */
</script>

{{ partial "footer" . }}
